In [103]:
import os
from bs4 import BeautifulSoup as bs
from splinter import Browser
import requests
import pandas as pd

In [111]:
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

### NASA Mars News

In [112]:
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)
response = browser.html

In [113]:
soup = bs(response, 'html.parser')

In [114]:
article = soup.find("div", class_='list_text')
news_title = article.find('div', class_='content_title').find('a').text
print(news_title)

My Culture, My Voice

In [108]:
news_p = article.find('div', class_='article_teaser_body').text
print(news_p)

In honor of Hispanic Heritage Month, Christina Hernandez, an instrument engineer on the Mars 2020 mission, talks about her childhood and journey to NASA.

### JPL Mars Space Images - Featured Image

In [89]:
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(jpl_url)

In [90]:
image_html = browser.html
images_soup = bs(image_html, 'html.parser')

In [91]:
images_url = images_soup.find_all('img')[3]["src"]
base_url = 'https://www.jpl.nasa.gov'

featured_image_url = base_url + images_url 
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24112-640x350.jpg'

### Mars Facts

In [92]:
fact_url = 'https://space-facts.com/mars/'
fact_df = pd.read_html(fact_url)

In [93]:
mars_fact_df = fact_df[2]
mars_fact_df.columns = ["Description", "Data"]
mars_fact_df

            Description                           Data
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [94]:
mars_html_table = mars_fact_df.to_html()
mars_html_table.replace('\n', '')
print(mars_html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Description</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

### Mars Hemispheres

In [95]:
astrogeology_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(astrogeology_url)

In [96]:
hemisphere_html = browser.html
hemisphere_soup = bs(hemisphere_html, 'html.parser')

In [97]:
hemisphere = hemisphere_soup.find("div", class_='collapsible results')

hemisphere_title = hemisphere.find("div", class_='description').h3.text
base_link = 'https://astrogeology.usgs.gov'
hemisphere_link = base_link + hemisphere.a['href']
print(hemisphere_title)
print(hemisphere_link)

Cerberus Hemisphere Enhanced
https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced

In [69]:
hemisphere = hemisphere_soup.find("div", class_='item')

hemisphere_image_urls = []

for i in hemisphere:
    hemisphere_title = hemisphere.find("div", class_='description').h3.text
   
    base_link = 'https://astrogeology.usgs.gov'
    hemisphere_link = hemisphere.a['href']
    browser.visit(base_link + hemisphere_link)
    
    hemisphere_image_html = browser.html
    hemisphere_image_soup = bs(hemisphere_image_html, 'html.parser')
    
    image_link = hemisphere_image_soup.find('div', class_='downloads')
    image_url = image_link.find('li').a['href']
    
    image_dict = {}
    image_dict['title'] = hemisphere_title
    image_dict['img_url'] = hemisphere_link
    
    hemisphere_image_urls.append(image_dict)

print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': '/search/map/Mars/Viking/cerberus_enhanced'}, {'title': 'Cerberus Hemisphere Enhanced', 'img_url': '/search/map/Mars/Viking/cerberus_enhanced'}, {'title': 'Cerberus Hemisphere Enhanced', 'img_url': '/search/map/Mars/Viking/cerberus_enhanced'}, {'title': 'Cerberus Hemisphere Enhanced', 'img_url': '/search/map/Mars/Viking/cerberus_enhanced'}]